<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:user.properties" order="1" ignore-unresolvable="true"/>
    <context:property-placeholder location="classpath:person.properties" order="2" ignore-unresolvable="true"/>
    <context:component-scan base-package="ua.hunky"/>

    <!--<bean id = "userAdmin" class = "ua.hunky.model.User">-->
        <!--<constructor-arg name="login" value = "${userAdmin.login}"/>-->
        <!--<constructor-arg name="password" value = "${userAdmin.password}"/>-->
        <!--<constructor-arg name="role" value = "${userAdmin.role}"/>-->
    <!--</bean>-->
    <!--<bean id = "userUser" class = "ua.hunky.model.User">-->
        <!--<constructor-arg name="login" value = "${userUser.login}"/>-->
        <!--<constructor-arg name="password" value = "${userUser.password}"/>-->
        <!--<constructor-arg name="role" value = "${userUser.role}"/>-->
    <!--</bean>-->
    <!--<bean id = "userUnknown" class = "ua.hunky.model.User">-->
        <!--<constructor-arg name="login" value = "${userUnknown.login}"/>-->
        <!--<constructor-arg name="password" value = "${userUnknown.password}"/>-->
        <!--<constructor-arg name="role" value = "${userUnknown.role}"/>-->
    <!--</bean>-->
    <!--<bean id = "db" class = "ua.hunky.dao.DB"/>-->
    <!--<bean id = "userDAO" class = "ua.hunky.dao.UserDAO"/>-->
    <!--<bean id = "userTest" class = "ua.hunky.model.User">-->
        <!--<constructor-arg name="login" value = "${userTest.login}"/>-->
        <!--<constructor-arg name="password" value = "${userTest.password}"/>-->
        <!--<constructor-arg name="role" value = "${userTest.role}"/>-->
    <!--</bean>-->
    <bean id = "person" class = "ua.hunky.model.Person">
        <constructor-arg name="personID" value = "${person.personID}"/>
        <constructor-arg name="name" value = "${person.name}"/>
        <constructor-arg name="surname" value = "${person.surname}"/>
        <constructor-arg name="email" value = "${person.email}"/>
        <constructor-arg name="dateOfBirth" value = "${person.dateOfBirth}"/>
        <constructor-arg name="userID" value = "${person.userID}"/>
    </bean>
    <bean id = "personTest1" class = "ua.hunky.model.Person">
        <constructor-arg name="personID" value = "${personTest1.personID}"/>
        <constructor-arg name="name" value = "${personTest1.name}"/>
        <constructor-arg name="surname" value = "${personTest1.surname}"/>
        <constructor-arg name="email" value = "${personTest1.email}"/>
        <constructor-arg name="dateOfBirth" value = "${personTest1.dateOfBirth}"/>
        <constructor-arg name="userID" value = "${personTest1.userID}"/>
    </bean>
    <bean id = "personTest2" class = "ua.hunky.model.Person">
        <constructor-arg name="personID" value = "${personTest2.personID}"/>
        <constructor-arg name="name" value = "${personTest2.name}"/>
        <constructor-arg name="surname" value = "${personTest2.surname}"/>
        <constructor-arg name="email" value = "${personTest2.email}"/>
        <constructor-arg name="dateOfBirth" value = "${personTest2.dateOfBirth}"/>
        <constructor-arg name="userID" value = "${personTest2.userID}"/>
    </bean>


</beans>