@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background: yellowgreen;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background: darkgray;
}

.persons tr:hover td{
    background-color:#fefefe;
    cursor: pointer;
}

button {
    background: #585454;
    color: white;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
}

.button:hover {
    background: #2b2925;
    color: white;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
}
body{
    background: rgb(52, 56, 61);
    padding: 80px;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
}

p.error {
    color: red;
}

.alert {
    color: #18ff33;
}

#addPerson input[type="text"], #addPerson input[type="submit"], #addPerson input[type="date"]{
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
}
#editPerson input[type="text"], #editPerson input[type="submit"], #editPerson input[type="date"]{
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
}

#wrapper{
    position: absolute;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    top: 30%;
    margin-top: -75px;
}

/* === Sign in Form === */
#signin {
    height: 90px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}
#signin::before {
    display: block;
    position: relative;
    height: 2px;
    background: rgb(52, 56, 61);
    content: '';
    top: 44px;
    margin-left: 20px;
    z-index: 1;
}
#signin input:nth-of-type(2){
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#signin input:first-of-type{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#signin input:last-of-type{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
    background: rgb(28, 30, 33);
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
    color: rgb(52, 56, 61);
}
#signin  input[type="text"], #signin  input[type="password"]{
    position: relative;
    /*display: block;*/
    width: 300px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
    color: rgb(255, 255, 255);
}
#signin button[type="submit"]{
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    color: rgb(52, 56, 61);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 19px;
    right: -24px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0px;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
}
#signin button[type="submit"]:hover{
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
}
#signin div {
    width: 350px;
}
#signin span {
    color: rgb(134, 139, 150);
    padding: 0 10px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}

#signin p.error {
    color: red;
}

#signin p.alert {
    color: #18ff33;
}

#signin a{
    color: rgb(36, 121, 71);
    text-decoration: none;
}

a.en{
    color: rgb(36, 121, 71);
    text-decoration: none;
}
a.ru{
    color: rgb(36, 121, 71);
    text-decoration: none;
}

a.en:hover {
    color: rgba(255, 249, 180, 0.93);
    border-bottom: 1px solid;
}

a.ru:hover{
    color: rgba(255, 249, 180, 0.93);
    border-bottom: 1px solid;
}

#signin a:hover{
    color: rgba(255, 249, 180, 0.93);
    border-bottom: 1px solid;
}


p {
    text-align: center;
    font-weight: bold;
}

form {
    text-align: center;
}

.back {
    text-align: center;
}

.registration {
    background: rgb(52, 56, 61);
}

.menu{
    text-align: center;
    background: rgb(52, 56, 61);
}

.addPersonText{
    color: orangered;
}

footer {
    color: greenyellow;
    text-align: center;
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}


/* === Registration in Form === */
#registration {
    height: auto;
    width: 300px;
    border-radius: 8px;
    position: relative;
}

#registration::before {
    display: block;
    position: relative;
    height: 2px;
    background: rgb(52, 56, 61);
    content: '';
    top: 44px;
    margin-left: 20px;
    z-index: 1;
}

#registration::after {
    display: block;
    position: relative;
    height: 2px;
    background: rgb(52, 56, 61);
    content: '';
    top: -44px;
    margin-left: 20px;
    z-index: 1;
}

#registration input:nth-of-type(2){
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#registration input:first-of-type{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#registration input:last-of-type{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#registration  input[type="text"], #registration  input[type="text"], #registration button[type="submit"], #registration input[type="email"]{
    background: rgb(28, 30, 33);
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
    color: rgb(52, 56, 61);
}

#registration input[type="text"], #registration input[type="text"], #registration input[type="email"]{
    position: relative;
    /*display: block;*/
    width: 300px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
}

#registration input[type="text"]:focus, #registration input[type="text"]:focus, #registration input[type="email"]:focus{
    color: rgb(255, 255, 255);
}

#registration button[type="submit"]{
    display: block;
    position: absolute;
    width: 52px;
    height: 51px;
    color: rgb(52, 56, 61);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 44px;
    right: -24px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0px;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
}

#registration button[type="submit"]:hover{
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
}

#registration div {
    width: 350px;
}

#registration span {
    color: rgb(134, 139, 150);
    padding: 0 10px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}

#registration p.error {
    color: red;
}

#registration p.alert {
    color: #18ff33;
}

#wrapper h1 {
    font-size: 1em;
}

tr.highlight td {
    background-color: #a5cc9f;
}

#removeButton {
    display: none;
}

#editButton {
    display: none;
}

#import input[type="submit"] {
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}




/* style 4 */

.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3ad322;
    /*background-color: #d3394c;*/
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #27d313;
    /*background-color: #d3394c;*/
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}

.export {
    display: inline-block;
    float: left;
    width: 50%;
}

.import {
    display: inline-block;
    float: left;
    width: 50%;

}