<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Birthdays</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<p class="addPersonText">Fill the form for add a new Person</p>
<form id="addPerson" th:action="@{/createPerson}" method="post">
    <label>
        <input class="name" type="text" name="name" placeholder="Name" required />
    </label><br>
    <label>
        <input class="surname" type="text" name="surname" placeholder="Surname" required/>
    </label><br>
    <label>
        <input class="email" type="text" name="email" placeholder="Email"/>
    </label><br>
    <label>
        <input class="date" type="date" name="birthday" required/>
    </label><br><br>
    <input  class="button" type="submit" value="Create Person">
</form>
<p class="error" th:text="${Error}"></p>
<p class="alert" th:text="${Alert}"></p>
<br><br>
<div class="back">
    <a th:href="@{listofpersons}">
        <button class="button">Go Back</button>
    </a>
</div>
</body>
<footer> Hunky_UA <br> Copyright &copy; 2019</footer>
</html>
