<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="menu">
<div class="export">
    <p th:text="#{label.Export}"></p>
    <form id="export" th:action="@{/exportPersons}" method="get">
    <input type="submit" name="file-5[]" id="file-1" class="inputfile inputfile-4"/>
    <label for="file-1">
    <figure>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
            <path d="M979.6,661.4L832.5,547.7c-8.3-6.5-23.8-11.8-34.4-11.8h-85.2l141.8,141.3H713.3l-72,102.3H358l-68.9-102.3H147.7l140.9-141.3h-86.8c-10.6,0-26,5.3-34.4,11.8L20.3,661.4c-8.3,6.5-12.5,20.1-9.2,30.1l58.7,179.6c3.3,10.1,14.6,18.3,25.2,18.3h811c10.6,0,21.9-8.2,25.1-18.3l57.7-179.6C992.1,681.4,988,667.9,979.6,661.4z"/>
            <path d="M747.1,384.8c1.6-1.5,2.2-3.8,1.4-6c-0.8-2.2-2.9-3.5-5.1-3.5H591.6l0.3-248.3c0-4.2-1.6-8.4-4.8-11.6c-3.2-3.2-7.4-4.8-11.6-4.8H426.9c-4.2,0-8.4,1.6-11.6,4.8c-3.2,3.2-4.8,7.4-4.8,11.6l0.3,248.3H259.1c-2.2,0-4.2,1.3-5.1,3.5c-0.8,2.1-0.2,4.5,1.4,6l234.7,217.7c2.9,2.7,6.8,4.4,11.1,4.4c4.3,0,8.2-1.7,11.1-4.4L747.1,384.8L747.1,384.8z"/>
        </svg>
    </figure>
    </label>
    </form>
</div>
<div class="import">
    <p th:text="#{label.Import}"></p>
    <form id="import" th:action="@{/importPersons}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file-5" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />
    <label for="file-5">
        <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
            </svg>
        </figure>
        <span th:text="#{button.ChooseFile}"></span>
    </label>
     <br><input class="button" type="submit" th:value="#{button.Import}">
    </form>
    <br><br><br>
    <script type="text/javascript" th:src="@{/js/custom-file-input.js}"></script>
</div>
<p class="error" th:text="${Error}"></p>
<p class="alert" th:text="${Alert}"></p>
<br><br><br>
<div class="back">
    <a th:href="@{backFromExportImport}">
        <button class="button" th:text="#{button.Back}"></button>
    </a>
</div>
</div>
</body>
<footer> Hunky_UA <br> Copyright &copy; 2019</footer>
</html>