<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Birthdays</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/js/selectPerson.js}"></script>
    <script type="text/javascript" th:src="@{/js/showHideRemoveButton.js}"></script>
    <script type="text/javascript" th:src="@{/js/showHideEditButton.js}"></script>
</head>
<body>
<div>
<a th:href="@{addperson}"><button class="button">Add Person</button></a>
<a><button type="submit" form="persons" id="editButton" class="button" value="edit" onclick="return OnButton1()">Edit</button></a>
<a><button type="submit" form="persons" id="removeButton" class="button" value="remove" onclick="return OnButton2()">Remove</button></a>
</div>
<form name="Persons" id="persons" th:action="@{#}" method="post">
<table id="personTable" class="persons">
    <tr>
        <th></th>
        <th>&#8470;</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>DateOfBirth</th>
    </tr>
    <tr id="trs" th:each="person,iter  : ${persons}">
        <td style="width: 2%"><input type="checkbox" id="personCheckbox" name="isChecked" th:value="${person.id}"/></td>
        <td id="loop" th:text="${iter.count}"></td>
        <td th:text="${person.name}"></td>
        <td th:text="${person.surname}"></td>
        <td th:text="${person.email}"></td>
        <td th:text="${person.dateOfBirth}"></td>
    </tr>
</table>
</form>
<br><br><br>
<div class="back">
    <a th:href="@{backFromListOfPersons}">
        <button class="button">Go Back</button>
    </a>
</div>
</body>
<footer> Hunky_UA <br> Copyright &copy; 2019</footer>
</html>
