<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Birthdays</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<a style="align-content: center" th:href="@{addperson}"><button>Add Person</button></a><br>
<table class="persons">
    <tr>
        <th>№</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>DateOfBirth</th>
    </tr>
    <tr th:each="person,iter  : ${perosn}">
        <td id="loop" th:text="${person.count}"></td>
        <td th:text="${person.name}"></td>
        <td th:text="${person.surname}"></td>
        <td th:text="${person.email}"></td>
        <td th:text="${person.dateOfBirth}"></td>
    </tr>
</table>
<br><br><br>
<div class="back">
    <a th:href="@{../}">
        <button>Go Back</button>
    </a>
</div>
</body>
<footer> Hunky_UA <br> Copyright © 2019</footer>
</html>
