<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Birthdays</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body class="menu">
<h1 th:text="'Hello ' + ${user.getUsername()}"></h1>
<div class="menu">
    <a th:href="@{listofpersons}"><button class="button">List of Persons</button></a><br><br><br>
    <form th:action="@{/logout}" method="post">
        <button class="button" th:type="submit">Logout</button>
    </form>
</div>
</body>
<footer> Hunky_UA <br> Copyright © 2019</footer>
</html>