<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body class="menu">
<h1 th:text="#{welcome} + ' ' + ${user != null ? user.getUsername() : ''}"></h1>
<div class="menu">
    <a th:href="@{listofpersons}"><button class="button" th:text="#{menu.ListOfPersons}"></button></a>
    <br>
    <a th:href="@{exportImport}"><button class="button" th:text="#{menu.ExportImport}">></button></a>
    <br>
    <br>
    <br>
    <form th:action="@{/logout}" method="get">
        <button class="button" th:type="submit" th:text="#{button.Logout}"></button>
    </form>
</div>
</body>
<footer> Hunky_UA <br> Copyright &copy; 2019</footer>
</html>