<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Birthdays</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/js/localization.js}"></script>
</head>
<body class="registration">
<a href="?lang=en" methods="get">English</a>
<a href="?lang=ru" methods="get">Русский</a>
<div id="wrapper">
    <h1 th:text="#{registration.greetings}"></h1>
    <form id="registration" th:action="@{registration}" method="post" autocomplete="off">
        <input type="text" name="username" th:placeholder="#{index.username}" required><br>
        <input type="text" name="password" th:placeholder="#{index.password}" required> <br>
        <input type="email" id="email" name="email" th:placeholder="#{index.email}" required/>
        <button type="submit">&#xf0da;</button>
    </form>
    <p class="error" th:text="${Error}"></p>
    <p class="alert" th:text="${Alert}"></p>
    <br><br>
    <div class="back">
        <a th:href="@{/}">
            <button th:text="#{registration.back}"></button>
        </a>
    </div>
</div>

</body>
<footer> Hunky_UA <br> Copyright © 2019</footer>
</html>
