<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Birthdays</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body class="registration">
<div id="wrapper">
    <h1 class="">Welcome to registration on Birthdays App :)</h1>
    <form id="registration" th:action="@{doRegistration}" method="post" autocomplete="off">
        <input type="text" name="login" placeholder="login" required><br>
        <input type="text" name="password" placeholder="password" required> <br>
        <button type="submit">&#xf0da;</button>
    </form>
    <p class="error" th:text="${Error}"></p>
    <br><br>
    <div class="back">
        <a th:href="@{/}">
            <button>Go Back</button>
        </a>
    </div>
</div>

</body>
<footer> Hunky_UA <br> Copyright © 2019</footer>
</html>
